@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
@keyframes blob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -20px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 30px) scale(0.9);
  }
}
.animate-blob {
  animation: blob 7s infinite;
}
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

/* Custom arrow for select */
.select-wrapper {
  position: relative;
  display: inline-block;
  width: 10rem; /* fixed width */
}

.select-wrapper select {
  appearance: none; /* remove default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  padding-right: 2.5rem; /* space for arrow */
  background-image: none;
}


.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1rem;
  width: 0.8rem;
  height: 0.8rem;
  pointer-events: none;
  border-style: solid;
  border-width: 0.15em 0.15em 0 0;
  border-color: #059669; /* emerald-600 */
  transform: translateY(-50%) rotate(45deg);
  transition: border-color 0.3s;
}

.select-wrapper select:focus + ::after,
.select-wrapper select:hover + ::after {
  border-color: #047857; /* emerald-700 */
}

